<template name="addreview">
	
<div class="col-sm-12">
                          <div class="space-comment">
                          	<input id="title" type="text" class="form-control" placeholder="Write your review..." /><br />
                             <textarea class="form-control" d="comment" rows="7" placeholder="Write what you want ..."></textarea>
                             <select class="form-control" id="sel1">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
											</select>
                           </div>
                           <button class="btn_register pull-right" id="addreview">{{_ "SEND"}}</button>
                        </div>
</template>